{% schema %}
  {
    "name": "loginpassword",
    "presets": [
      {
        "name": "LoginPassword",
        "category": "Custom"
      }
    ], 
    "settings": []
  }
{% endschema %}
{% style %}
  #password-form {
    text-align: center;
    margin: 0 auto;
    max-width: 300px; 
  }

  #password-form label {
    display: block;
    margin-bottom: 10px;
  }

  #password-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  #password-form button {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #password-form button:hover {
    background-color: #0059a9;
  }
{% endstyle %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('password-form').addEventListener('submit', function(e) {
      e.preventDefault();
      var password = document.getElementById('password-input').value;
      if (password === 'james') {
        var date = new Date();
        date.setTime(date.getTime() + (6*1000));
        document.cookie = 'access=true; expires=' + date.toUTCString() + '; path=/';
        window.location.href = 'https://moment-pro-india.myshopify.com/pages/content-page';
      }
    });
  });
</script>

<form id="password-form" class="password-form">
  <label for="password-input">Enter your login password:</label>
  <input id="password-input" class="password-input" type="password" required>
  <button type="submit" class="submit-button">Submit</button>
</form>
