{% schema %}
  {
    "name": "password",
    "presets": [
      {
        "name": "Default",
        "category": "Custom"
      }
    ],
    "settings": []
  }
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('password-form').addEventListener('submit', function(e) {
      e.preventDefault();
      var password = document.getElementById('password-input').value;
      if (password === 'james') {
        var date = new Date();
        date.setTime(date.getTime() + (10*1000));
        document.cookie = 'access=true; expires=' + date.toUTCString() + '; path=/';
        window.location.href = 'https://moment-pro-india.myshopify.com/pages/content-page';
      }
    });
  });
</script>

<form id="password-form">
  <input id="password-input" type="password" required>
  <button type="submit">Submit</button>
</form>
