{% schema %}
{
  "name": "productimgvidslider",
  "settings": [],
  "presets": [
    {
      "name": "productimgvidslider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.slider-container {
  background-color: lightblue;
  max-width:600px;
  padding: 20px;
  position: relative; 
  overflow: hidden; 
}

.autoplay {
 
}

.slide img, .slide iframe, .slide video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; 
}


  .slider-container .single-item {
    width: 600px; 
    height: auto%;
    padding: 10px;
  }
  
{% endstylesheet %}


{% javascript %}
  
$(document).ready(function(){
  $('.single-item').slick({
    autoplay: true,
    autoplaySpeed: 2000,
    arrows: true, 
    dots: true,
  });
});


{% endjavascript %}


<div class="slider-container">
  <div class="autoplay single-item"> 
    {% assign array_of_images = product.metafields.custom.productimageslider.value %}
    {% if array_of_images %}
      {% for product_image in array_of_images %}
        <div class="slide">
          <img src="{{ product_image | image_url }}">
        </div>
      {% endfor %}
    {% endif %}
    <!-- Slick will automatically add arrows, so you don't need these buttons -->
   
  </div>
</div>
