{% schema %}
{
  "name": "productimgvidslider",
 
  
      "settings": [],
  
  "presets": [
    {
      "name": "productimgvidslider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
/* Add your custom CSS styles here */
{% endstylesheet %}

{% javascript %}
/* Add your JavaScript code here */
{% endjavascript %}

<div class="slider-container">
  <div class="autoplay">
    {% for block in section.blocks %}
      {% if block.type == 'image_block' and block.settings.image %}
        <div class="slide">
          <img src="{{ block.settings.image | img_url: '1600x800' }}" alt="Slide">
        </div>
      {% elsif block.type == 'video_block' and block.settings.video_url %}
        <div class="slide">
          <iframe width="100%" height="auto" src="{{ block.settings.video_url }}" frameborder="0" allowfullscreen></iframe>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
