{% schema %}
{
  "name": "productimgvidslider",
  "settings": [],
  "presets": [
    {
      "name": "productimgvidslider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
/* Add your custom CSS styles here */
.slider-container {
  background-color: lightblue; /* Add your desired background color */
  padding: 20px;
}

.autoplay {
  /* Add your custom styles for the autoplay container */
}

.slide img, .slide iframe, .slide video {
  max-width: 100%;
  height: auto;
}
{% endstylesheet %}

{% javascript %}
/* Add your JavaScript code here */
{% endjavascript %}

<div class="slider-container">
  <div class="autoplay">
    {% assign media_items = product.metafields.custom.productimagevideoslider | split: ',' %}
    
    {% for media_item in media_items %}
      {% assign file_type = media_item | split: '/' | last | split: '.' | last | downcase %}
      
      {% if file_type == 'jpg' or file_type == 'jpeg' or file_type == 'png' or file_type == 'gif' %}
        <div class="slide">
          <img src="{{ media_item | img_url:'master' }}" alt="Slide" loading="lazy" height="" width="">
        </div>
      {% elsif file_type == 'mp4' or file_type == 'mov' %}
        <div class="slide">
          <video controls width="" height="">
            <source src="{{ media_item }}" type="video/{{ file_type }}">
            Your browser does not support the video tag.
          </video>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
