<h3>{{ section.settings.heading }}</h3>
<p3>{{ section.settings.description }}</p3>
{% for block in section.blocks -%}
  <img src="{{block.settings.image | img_url : 'master'}}">
{% endfor -%}
}

{% schema %}
{
  "name": "returnpolicy",
  "settings": [
    { "type":"text",
      "label":"heading for the section",
      "id":"heading"

    },
    {"type":"richtext",
      "label":"your description",
      "id":"description"

    }
  ],
  "blocks":[
    {
      "type":"image",
      "name":"imageblock",
      "settings":[
        {
          "type":"image_picker",
          "label":"your image",
          "id":"image"
        }
      ]
    }

  ],
   "presets": [
  {
    "name": "returnpolicy",
    "category":"image"
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
